<a href="https://colab.research.google.com/github/alifmaghriby/Data_Prep_Using_Python/blob/main/Jumlah_Penumpang_Pesawat_Bandara_Utama.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. IMPORT LIBRARY & DATASET**

In [10]:
import pandas as pd

In [11]:
# Read Excel file into a dataframe
bandara = pd.read_excel('/content/Jumlah_Penumpang_Pesawat_Bandara_Utama.xlsx')

In [12]:
# Show Dataset
limit = 10
print(bandara.head(limit))

   Bandara  Penerbangan Domestik  Penerbangan Internasional       Date
0  Polonia                157614                      379.0 2021-01-01
1  Polonia                100191                      476.0 2021-02-01
2  Polonia                122498                      715.0 2021-03-01
3  Polonia                119306                      555.0 2021-04-01
4  Polonia                104644                      334.0 2021-05-01
5  Polonia                150762                      275.0 2021-06-01
6  Polonia                 51362                      188.0 2021-07-01
7  Polonia                 49711                       88.0 2021-08-01
8  Polonia                 80935                       65.0 2021-09-01
9  Polonia                116465                       29.0 2021-10-01

**2. DATA PREPARATION**

In [13]:
# Prints The Dataset Information
bandara.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Bandara                    150 non-null    object
 1   Penerbangan Domestik       150 non-null    int64
 2   Penerbangan Internasional  120 non-null    float64
 3   Date                       150 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 4.8+ KB

In [14]:
#Check for Missing Values
bandara.isnull().sum()

Bandara                       0
Penerbangan Domestik          0
Penerbangan Internasional    30
Date                          0
dtype: int64

In [15]:
# Replace missing values with a specific value
bandara = bandara.fillna(0)

In [16]:
# Transform headers to lowercase titlecase
bandara.columns = bandara.columns.str.lower().str.title()

In [17]:
# Save dataframe to Excel file
bandara.to_excel('bandara_utama.xlsx', index=False)