<a href="https://colab.research.google.com/github/alifmaghriby/Data_Prep_Using_Python/blob/main/Transjakarta_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. IMPORT LIBRARY & DATASET**

In [13]:
import pandas as pd

In [14]:
# Read excel file into a dataframe
tj = pd.read_excel('/content/TJ 21.xlsx')

In [15]:
# Show Dataset
limit = 10
print(tj.head(limit))

   tahun  bulan       jenis kode_trayek  \
0   2021      1  Mikrotrans      JAK.88
1   2021      1  Mikrotrans      JAK.85
2   2021      1  Mikrotrans      JAK.84
3   2021      1  Mikrotrans      JAK.80
4   2021      1  Mikrotrans       JA.77
5   2021      1  Mikrotrans      JAK.75
6   2021      1  Mikrotrans      JAK.74
7   2021      1  Mikrotrans      JAK.73
8   2021      1  Mikrotrans      JAK.72
9   2021      1  Mikrotrans      JAK.71

                                     trayek  jumlah_penumpang
0      Terminal Tanjung Priok - Ancol Barat              1473
1                  Bintara - Cipinang Indah             20280
2      Terminal Kampung Melayu - Kapin Raya             28779
3                 Rawa Buaya - Rawa Kompeni             54998
4             Tanjung Priok - Jembatan Item             60284
5                      Cililitan - Kp. Pulo             48220
6      Terminal Rawamangun - Cipinang Muara             38572
7              Jambore Cibubur - Pasar Rebo             65087
8  Kampung Rambutan - Pasar Rebo via Poncol             85416
9           Kampung Rambutan - Pinang Ranti             62822

**2. DATA PREPARATION**

In [16]:
# Prints The Dataset Information
tj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1473 entries, 0 to 1472
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tahun             1473 non-null   int64
 1   bulan             1473 non-null   int64
 2   jenis             1473 non-null   object
 3   kode_trayek       1473 non-null   object
 4   trayek            1471 non-null   object
 5   jumlah_penumpang  1473 non-null   int64
dtypes: int64(3), object(3)
memory usage: 69.2+ KB

In [17]:
# Convert column to years
tj['tahun'] = tj['tahun'].astype('str')

In [18]:
# Mapping of month numbers to month names
month_mapping = {
    1: 'January',
    2: 'February',
    3: 'March',
    4: 'April',
    5: 'May',
    6: 'June',
    7: 'July',
    8: 'August',
    9: 'September',
    10: 'October',
    11: 'November',
    12: 'December'
}

# Convert 'bulan' column to month names
tj['bulan'] = tj['bulan'].map(month_mapping)

In [19]:
# Show Dataset to Re-Check
limit = 10
print(tj.head(limit))

  tahun    bulan       jenis kode_trayek  \
0  2021  January  Mikrotrans      JAK.88
1  2021  January  Mikrotrans      JAK.85
2  2021  January  Mikrotrans      JAK.84
3  2021  January  Mikrotrans      JAK.80
4  2021  January  Mikrotrans       JA.77
5  2021  January  Mikrotrans      JAK.75
6  2021  January  Mikrotrans      JAK.74
7  2021  January  Mikrotrans      JAK.73
8  2021  January  Mikrotrans      JAK.72
9  2021  January  Mikrotrans      JAK.71

                                     trayek  jumlah_penumpang
0      Terminal Tanjung Priok - Ancol Barat              1473
1                  Bintara - Cipinang Indah             20280
2      Terminal Kampung Melayu - Kapin Raya             28779
3                 Rawa Buaya - Rawa Kompeni             54998
4             Tanjung Priok - Jembatan Item             60284
5                      Cililitan - Kp. Pulo             48220
6      Terminal Rawamangun - Cipinang Muara             38572
7              Jambore Cibubur - Pasar Rebo             65087
8  Kampung Rambutan - Pasar Rebo via Poncol             85416
9           Kampung Rambutan - Pinang Ranti             62822

In [20]:
#Check for Missing Values
tj.isnull().sum()

tahun               0
bulan               0
jenis               0
kode_trayek         0
trayek              2
jumlah_penumpang    0
dtype: int64

In [21]:
# Replace missing values with a specific value
tj = tj.fillna('null')

In [22]:
# Transform headers to lowercase titlecase
tj.columns = tj.columns.str.lower().str.title()

In [23]:
# Save dataframe to Excel file
tj.to_excel('tj_2021.xlsx', index=False)